.heading
{
    font-size: 28px;
    width: 100%;
    margin: 0px;
    background-color: black;
    color: white;
}
.note
{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-variant: none;
}
body
{
background-size: cover;
font-family:'Courier New', Courier, monospace;
}

.div_genes_img
{
    float: right;
}
.genes
{
    width: 500px;
}

